@import "./../../../variables";

.recipes_all {
  background-color: $mainBackColor;

  &__container {
    position: relative;
    max-width: 1280px;
    min-width: 320px;
    padding: 0 10px;
    margin: 0 auto;
  }

  // .recipes-all__list

  &__list {
    display: grid;
    //gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(242px, 1fr));
    padding-bottom: 60px;
  }

  // .recipes-all__button

  &__button {
    position: absolute;
    right: 15px;
    bottom: -20px;
    z-index: 2;
  }
}

.item_recipe {
  display: flex;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;

  // .item-recipe__link

  &__link {
    display: flex;
    flex-direction: column;
    position: relative;
    svg {
      position: absolute;
      top: 16px;
      right: 16px;
    }
  }

  // .item-recipe__image

  &__image_ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 45%;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  // .item-recipe__content

  &__content {
    flex: 1 1 auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
  }

  // .item-recipe__title

  &__title {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 12px;
  }

  // .item-recipe__composition

  &__composition {
    margin-bottom: 17px;
    flex: 1 1 auto;
  }

  // .item-recipe__action

  &__action {
    display: flex;
    justify-content: space-between;
  }

  // .item-recipe__like

  &__like {
    display: inline-flex;
    flex-direction: row-reverse;
    &::before{
      margin-left: 5px;
    }
  }

  // .item-recipe__time

  &__time {
    display: inline-flex;
    &::before{
      margin-right: 12px;
    }
  }
}