@import "./../../variables";

.item_recipe {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;

  // .item-recipe__link

  &__link {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
  }

  &__svg {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  // .item-recipe__image

  &__image {
    position: relative;
    width: 100%;
    padding-bottom: 45%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }



  // .item-recipe__content

  &__content {
    flex: 1 1 auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
  }

  // .item-recipe__title

  &__title {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 12px;
  }

  // .item-recipe__composition

  &__composition {
    margin-bottom: 17px;
    flex: 1 1 auto;
  }

  // .item-recipe__action

  &__action {
    display: flex;
    justify-content: space-between;
  }

  // .item-recipe__like

  &__like {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    min-width: 25px;
    &::before{
      margin-left: 5px;
    }
  }

  // .item-recipe__time

  &__time {
    display: inline-flex;
    svg {
      margin-right: 12px;
    }
  }
}